<ion-header>
  <ion-toolbar>
    <ion-title>
     Objectif
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="exportPdf()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <div class="printable-content" id="printable-area">
      <progress-bar [progress]="100" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
        </progress-bar>
    <div class="printable-area">
      <table class="header-table">
        <tr>
          <td width="40%" class="title"><img src="assets/imgs/okr.png" alt="logo" height="40px" /></td>
          <td width="60%">
            <table width="100%">
              <tr>
                <td width="50%">+261 - 34 41 677 03</td>
                <td width="50%">Fianarantsoa Ambonifahidrano lot 04 </td>
              </tr>
              <tr>
                <td>pepexe@email.com</td>
                <td>MADAGASCAR , Fianrantsoa </td>
              </tr>
              <tr>
                <td>pepexe.com</td>
                <td>301</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <h1>facture</h1>
      <table class="subheader-table">
        <tr>
          <td width="30%">
            <dt>To:</dt>
            <dd>SOLO </dd>
            <dd>BATERAFLY </dd>
            <dd>MADAGASCAR , Fianrantsoa </dd>
            <dd>301</dd>
          </td>
          <td width="30%">
            <dt>facture Number:</dt>
            <dd>009223-222</dd>
          </td>
          <td width="40%">
            <dt> Total:</dt>
            <dd>$6.600</dd>
          </td>
        </tr>
      </table>
      <h3> Details</h3>
      <table class="detail-table">
        <tr>
          <th width="50%">Description</th>
          <th width="20%">Unit Price</th>
          <th width="10%">Qty</th>
          <th width="20%">Amount</th>
        </tr>
        <tr>
          <td>Apple Macbook Pro Retina 2018</td>
          <td>$4.500</td>
          <td>1</td>
          <td>$4.500</td>
        </tr>
        <tr>
          <td>Apple Mouse Bluetooth</td>
          <td>$500</td>
          <td>1</td>
          <td>$500</td>
        </tr>
        <tr>
          <td>Apple Cinema Display</td>
          <td>$1.000</td>
          <td>1</td>
          <td>$1.000</td>
        </tr>
      </table>
      <table class="footer-table">
        <tr>
          <td width="80%">Sub Total: </td>
          <td width="20%">$6.000</td>
        </tr>
        <tr>
          <td>Tax: </td>
          <td>$600</td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>